@use "../style/variables.scss" as v;
@use "../style/mixins.scss" as m;

.Banddraft {

    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: v.$base-space;
    padding-top: 3rem;

    .draft {
        background-color: v.$weave-base-color;
        @include m.rounded-corners;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: v.$threadspace;

        width: fit-content;
        padding-top: v.$base-space;
        padding-right: v.$base-space;
        padding-left: calc(v.$base-space + (v.$threadspace * 2));

        .Warp {
            margin-left: calc(v.$base-space * -1 + 1rem);

        }

        .Preferences {
            margin-left: calc(v.$base-space * -1 + 1rem);
            box-sizing: border-box;
            width: 100%;

        }
    }

}