@use "../style/variables.scss" as v;
@use "../style//mixins.scss" as m;


.Keybutton {

    @include m.base-thread;
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    text-align: center;
    line-height: 100%;
    font-size: calc(v.$threadspace * 0.9);
}

.Active {
    background-color: chartreuse;

}