@use "../style/variables.scss" as v;

.Keybutton{
    width: v.$threadspace;
    height: v.$threadspace;
    margin:0;
    padding: 0;
    box-sizing: content-box;
    text-align: center;
    line-height: 100%;
    border: 1px solid black;
    display: block;
font-size: calc(v.$threadspace *0.7);
}
.Active{
    background-color: chartreuse;
    
}