@use "../style/variables.scss" as v;


.Weaverow {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;

    &.holes{
        margin-left: v.$indentation;
        .Heddlemove{
            margin-left: v.$indentation;
        }
    }
    &.slits{
        .Heddlemove{
            margin-left: calc( v.$indentation * 2 );
        }
    }



}