@use './style/variables.scss' as v;
@use './style/mixins.scss' as m;

.App {
    padding-top: calc(v.$base-space * 0.5);
   display: flex;
   flex-direction: column;
   gap: calc(v.$base-space * 0.5);
    .App-header {
        display: flex;
        gap:v.$base-space;
        justify-content: center;
       // margin-bottom: v.$base-space;

        a {
            background-color: aquamarine;
            @include m.button-link;
        }

    }

}